/* ---- Main Rules ---- */

* {
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #2a2a2a;
	margin: 0;
	padding: 0;
	width: 100%;
}

ul {
	list-style: none;
}

p {
	line-height: 1.5;
}

/* ---- Class Rules ---- */

.container {
	width: 90%;
	margin: auto;
	text-align: center;
}

.main-header,
.main-footer {
	background-color: #fafafa;
}

.main-header {
	padding-top: 1.25rem;
	padding-bottom: 2rem;
}

.name {
	margin: 0;
}

.profile-img {
	width: 65%;
	margin: 10px 0;
}

.project-img {
	width: 100%;
}

/* ---- Nav Styles ---- */

.main-nav {
	margin-top: 1.25rem;
	margin-bottom: 2.5rem;
}
.main-nav li {
	background-color: #fff;
	margin-bottom: 0.35em;
	display: block;
}
.main-nav a {
	color: #2a2a2a;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	padding: 1em;
}
