/* ---- Main Rules ---- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #fff;
}

ul {
	list-style: none;
}

/* ---- Class Rules ---- */

.container {
	width: 90%;
	margin: auto;
}

.main-header,
.main-footer {
	background-color: #fafafa;
	text-align: center;
}

.name {
	margin: 0;
}

.profile-img {
	width: 70%;
}

/* ---- Nav Styles ---- */

.main-nav li {
	background-color: #fff;
}
.main-nav a {
	text-decoration: none;
}
