/* ---- Base Styles ---- */

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #242424;
}

h1 {
	margin: 0;
}

ul,
ol {
	list-style: none;
}

h2,
a {
	text-transform: uppercase;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #242424;
}

p {
	line-height: 1.5;
	font-size: 1.1em;
	font-weight: lighter;
}
p strong {
	font-weight: bold;
}

/* ---- Container Styles ---- */

.main-header,
.main-content,
.contact,
.main-footer {
	width: 95%;
	margin: auto;
	text-align: center;
}

.header-container,
.footer-container {
	background-color: #fbfbfb;
}

/* ---- Nav Styles ---- */

.main-nav {
	margin: 2em 0 2.5em;
}

.main-nav li {
	background-color: #fff;
	margin-bottom: 0.3em;
}

.main-nav a {
	display: block;
	padding: 1em;
}

/* ---- Class Styles ---- */

.project img {
	width: 100%;
}

.main-header {
	padding-top: 2em;
	padding-bottom: 2.5em;
}

.profile-img {
	width: 75%;
	margin: 0;
}

.bio {
	margin: 0;
}

.bio,
.contact p {
	color: #8a8a8a;
}

.main-content p {
	padding: 0 1em;
}

.main-content,
.contact {
	padding: 3em 0;
}

.contact strong {
	padding-left: 0.5em;
}

.section-title {
	font-size: 1.1em;
	margin-bottom: 2em;
}

.main-footer {
	border-top: 1px solid #d3d3d3;
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
