/* ---- Base Styles ---- */

* {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #242424;
}

h1 {
	margin: 0;
}

ul,
ol {
	list-style: none;
}

h2,
a {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

a {
	text-decoration: none;
}

p {
	line-height: 1.5;
	font-size: 1.1em;
}

/* ---- Container Styles ---- */

.main-header,
.main-content,
.contact,
.main-footer {
	width: 95%;
	margin: auto;
	text-align: center;
}

.header-container,
.footer-container {
	background-color: #fbfbfb;
}

/* ---- Class Styles ---- */

.project img {
	width: 100%;
}

.main-header {
	padding-top: 2em;
	padding-bottom: 2.5em;
}

.profile-img {
	width: 75%;
	margin-top: 3em;
}

.bio,
.contact p {
	color: #919191;
}

.contact {
	padding-bottom: 1.5em;
}

.main-footer {
	border-top: 1px solid #919191;
}

/* ---- Nav Styles ---- */

.main-nav {
	margin-top: 2em;
}

.main-nav li {
	background-color: #fff;
	margin-bottom: 0.3em;
}

.main-nav a {
	display: block;
	padding: 1em;
}
